:root {
  --background-color: #ffffff;
  --secondary-font-color: #2196f3;
  --main-button-color: #000000;
  --background-button-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --paragraph-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-footer-color: #2f303a;
  --buttons-port-color: #f5f4fa;
  --team-background-color: #f5f4fa;

  --main-font: "Roboto", sans-serif;
}
